asgiref==3.8.1
boto3==1.37.19
certifi==2025.1.31
Django
django-ckeditor-5==0.2.17
django-storages==1.14.5
dotenv==0.9.9
idna==3.10
jmespath==1.0.1
pillow==11.1.0
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
razorpay==1.4.2
requests==2.32.3
s3transfer==0.11.4
six==1.17.0
sqlparse==0.5.3
tzdata==2025.1
urllib3==2.3.0
gunicorn==23.0.0
whitenoise==6.8.2
uvicorn==0.34.2